/* Page */

body {
  /*background-color: black;*/
  /*text-align: center;*/
  /*font-size: 2.5em;*/
  color: white;
  background-color: black;
}

h1, h2 {
  text-align: center;
}

.green-text {
  color: #34E97C;
}
.bg-green {
  background-image: linear-gradient(to bottom, #42a552 0%, #42a552 100%);
}
.bg-black {
  background-color: #201D23;
}
.bg-black-gradient {
  background: linear-gradient(to top, #1d1d1d, #3c3c3c);
}

/*
 * Vertically center in a Bootstrap column
 */
 .bootstrap-col-vcenter {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.bootstrap-row-eq-height {
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;*/
}
